@model LasFiszkas.Models.LoginVM
@{
    ViewBag.Title = "Login";
}

<main>
    @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.returnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(false, "", new { @style = "display: table; font-size: 18px; margin: auto;" })

    <table style="margin: auto;">
        <tr>
            <td>@Html.LabelFor(l => l.Email, "E-mail:", new { @style = "font-size: 22px; margin-right: 10px; padding: 5px;" })</td>
            <td>
                @Html.TextBoxFor(l => l.Email, new { @class = "prettyInput", @style = "width: 110%;" })
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(l => l.Password, "Hasło:", new { @style = "font-size: 22px; margin-right: 10px; padding: 5px;" })</td>
            <td>
                @Html.PasswordFor(l => l.Password, new { @class = "prettyInput", @style = "width: 110%;" })
            </td>
        </tr>

        <tr>
            <td colspan="3" style="text-align: center;">
                <div style="margin-top: 10px; text-align: end;">
                    @Html.CheckBoxFor(l => l.RememberMe, new { @checked = "checked" })
                    @Html.LabelFor(l => l.RememberMe, "Zapamiętaj mnie")
                </div>

                <input type="submit" value="Zaloguj" style="font-size: 17px; margin-top: 12px; padding: 2px 8px 2px 8px;" />
            </td>
        </tr>
    </table>
    }
</main>

@section ScriptsBottom{
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
