@model List<LasFiszkas.Models.Set>
@{
    ViewBag.Title = "Twoje Zestawy";
}

<a href='@Url.Action("NewSet", "Sets")' class="button guessButton" style="margin-bottom: 20px;">Dodaj nowy zestaw</a>

<div class="col-10 col-sm-7 col-md-5 col-lg-4 col-xl-3 sets">
    @foreach (var set in Model)
    {
        string imgSrc;
        if(set.ImageFIle != null)
        {
            var base64 = Convert.ToBase64String(set.ImageFIle);
            imgSrc = string.Format("data:image/png;base64,{0}", base64);
        }
        else
        {
            imgSrc = Url.Content("~/Content/Prototype/img/flag.jpg");
        }

        <div class="set">
            <figure>
                <img src='@imgSrc' alt="set" />
            </figure>
            <figcaption>
                <h4>@set.Name</h4>
                <div class="buttons">
                    <a href='@Url.Action("Guess", "Fish", new RouteValueDictionary(new { setName = set.Name }) )'>Graj</a>
                    <a href='@Url.Action("Edit", "Sets", new { setId = set.SetId })'>Edytuj</a>
                    <a href='@Url.Action("Delete", "Sets", new { setId = set.SetId })' onclick="return confirm('Czy na pewno chcesz usunąć ten zestaw?')">Usuń</a>
                </div>
            </figcaption>
        </div>
    }

</div>



