@model List<LasFiszkas.Models.Fish>
@{
    ViewBag.Title = "Guess";
}

<main>
    <article>
        <img class="thumb" src="@Url.Content("~/Content/Prototype/img/thumb-up.png")" width="60" height="60">

        <div class="fish" onclick="ani()">
            <div class="fish-inner">
                <div class="fish-front" maxlength="34">
                    @Model.First().EspContent
                </div>
                <div class="fish-back" maxlength="34">@Model.First().PlContent</div>
            </div>
        </div>

        <img class="thumb" src="@Url.Content("~/Content/Prototype/img/thumb-up.png")" width="60" height="60">

    </article>

    <div class="form-group guess">
        <textarea name="guess" cols="30" rows="3" maxlength="31"></textarea>
        <button class="guessButton" type="button" onclick="check()">Sprawdź!</button>
        <button class="guessButton" type="button" onclick="next()" style="background-color: var(--yellow); color: var(--red); display: none;">Dalej</button>
    </div>
</main>

@section ScriptsBottom{
    <script type="text/javascript" src="@Url.Content("~/Content/Prototype/scripts/mainPage.js")"></script>
}
